<div class="sidebar">
    <div class="header"> </div>
    <nav class="nav-links">
        <NavLink class="nav-link" href="/dashboard">
            <span class="icon bi bi-house-door"></span> Dashboard
        </NavLink>
        <NavLink class="nav-link" href="/transactions">
            <span class="icon bi bi-list"></span> Transactions
        </NavLink>
        <NavLink class="nav-link" href="/add-transaction">
            <span class="icon bi bi-plus-circle"></span> Add Transaction
        </NavLink>
        <NavLink class="nav-link" href="/debtmanagement">
            <span class="icon bi bi-currency-dollar"></span> Debt Management
        </NavLink>
    </nav>
</div>